.box {
    height: 350px;
    width: 220px;
    padding: 15px 10px 20px 10px;
    margin-bottom: 30px;
    border-style: dashed;
    background-color: green;
    font-size: 12px;
}


.box_2 {
    width: 50em;
    margin: 10px;
}

.box_2 p{
    text-align: justify ;
}
.left {
    float: left;
    margin-right: 20px;
}

.right {
    float: right;
    padding: 15px 0px 15px 15px;
}
